.ContactsForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: auto;
    border: 1px solid teal;
    background: rgb(184, 201, 201);
}
input, label {
    display: block;
}
label{
    margin-bottom: 5px;
}
.ContactsInput {
    height:25px;
    margin: 0 auto;
    margin-top: 10px;
    outline: none;
    border: none;
}

.ContactsBtn {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.ContactsBtn:hover {
    background-color: aliceblue;
} 
